<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <h1> Welcome to your Super Rad Music Player, Please sign in to listen to those tunes!</h1>
    <h2>Not a member? Thats okay, make a free account to log in with no emails, spam or new letters, just a way to save your
        super sweet tunes!</h2>
        
    <a href="/signup">Sign Up!</a>
    <a href="/login">Login!</a>




</body>

</html>